<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770421260756-08iqacsl6cuhvbo97pf8m79qaic09j0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770421260756-08iqacsl6cuhvbo97pf8m79qaic09j0h</string>
	<key>API_KEY</key>
	<string>AIzaSyBeMTjin8LNmZrGGyL-l614j3FLgMl6MSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>770421260756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nab.perfect.flirt.save.flirt</string>
	<key>PROJECT_ID</key>
	<string>flirt-fd353</string>
	<key>STORAGE_BUCKET</key>
	<string>flirt-fd353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770421260756:ios:e4183a1e910ac03e875641</string>
</dict>
</plist>